*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

img{
    height: auto;
    max-width: 100%;
}

.content-all{
    width: 100%;
    background-color: rgba(255, 187, 0, 0.493);
    margin: auto;
    margin-top: 80px;
}

header{
    width: 100%;
    height: 60px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(255, 187, 0, 0.493);
}

#check-menu{
    display: none;
}

#check-menu:checked ~ .menu{
    width: 250px;
}

.menu{
    position: fixed;
    top: 60px;
    width: 0px;
    height: 100vh;
    background: rgba(51, 51, 51, 0.521);
    transition: all 0.25s;
    overflow: hidden;
}
.menu li a{
    list-style: none;
    padding: 16px;
    color: white;
    cursor: pointer;
    transition: all 0.25s;
    display: block;
    width: 250px;
    text-decoration: none;
}

.menu li:hover{
    background: rgba(255, 187, 0, 0.493);
}


.content-all label{
    position: fixed;
    width: 100%;
    max-width: 350px;
    top: 14px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    z-index: 10;
}

.content-all h2 a{
    position: fixed;
    width: 100%;
    max-width: 1275px;
    top: 14px;
    font-size: 26px;
    text-align: right;
    text-decoration: none;
    color: white; 
}

.respuesta{
    color: white;
    background-color: rgba(34, 34, 34, 0.781);
    border-radius: 10px;
    padding: 10px;
}

#main-container{
	margin: 150px auto;
	width: 100%;
}

table{
    background-color: rgba(39, 39, 39, 0.329);
    color: white;
	text-align: center;
	border-collapse: collapse;
    width: 100%;
    color: #fff;
}

th, td{
    width: auto;
	padding: 20px;
}

td a{
    text-decoration: none;
    color: #fff;
}


thead{
	background-color: rgba(255, 187, 0, 0.493);
	border-bottom: solid 5px rgba(80, 74, 0, 0.671);
	color: #000;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: rgba(43, 43, 43, 0.664);
	color: white;
}