*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.header{
    padding: 65px;
    text-align: center;
    background-color: #00b33c;
    color: white;
}

.header h1{
    font-size: 40px;
}

.header p{
    font-size: 20px;
}

.navbar{
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a.right{
    float: right;
}

.navbar a:hover{
    background-color: #ddd;
    color: black;
}

#main-container{
	margin: 150px auto;
	width: 80%;
}

table{
	background-color: white;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

th, td{
	padding: 20px;
}

thead{
	background-color: #00b33c;
	border-bottom: solid 5px #003f15;
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: #353535;
	color: white;
}